<gobmx-navbar></gobmx-navbar>
<div class="main-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1><strong>gob<span class="red">.</span>mx/consulta</strong></h1>
                <p class="text-sub">Una plataforma de participación ciudadana, que te permite a través de foros, encuestas y ejercicios de co-edición crear mejores propuestas de política pública en México.</p>
                <p class="text-sub-2"><strong>gob.mx/consulta</strong> cuenta con tres herramientas<br />de participación: <strong>Encuesta</strong> + <strong>Foro</strong> + <strong>Co-Edición</strong></p>
            </div>
        </div>
    </div>
</div>
<div class="contain-to-grid clear">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="toggle-topbar menu-icon"><a href="#"><span><%= t("application.menu")%></span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul>
                <li><%= link_to t("layouts.header.debates"), debates_path, class: ("active" if current_page?(controller: "/debates")) %></li>
                <li><%= link_to t("layouts.header.citizen_proposals"), proposals_path(by_category: "citizen"), class: ("active" if current_page?(controller: "/proposals") && params[:by_category] == "citizen") %></li>
                <li><%= link_to t("layouts.header.government_proposals"), proposals_path(by_category: "government"), class: ("active" if current_page?(controller: "/proposals") && params[:by_category] == "government") %></li>
                <li><%= link_to t("layouts.header.more_information"), "/more_information", class: ("active" if current_page?("/more_information"))  %></li>
                <li>
                    <%= link_to t("layouts.header.external_link_blog_url"), target: "_blank" do %>
                    <%= t("layouts.header.external_link_blog") %>
                        <i class="icon-external"></i>
                    <% end %>
                </li>
            </ul>
            <%= render "devise/menu/login_items" %>
            <%= render "shared/admin_login_items" %>
        </section>
    </nav>
</div>